.success {
  color: #468847;
  background-color: #dff0d8;
}

.fail {
  background-color: #fcf2f2;
  color: #d9534f;
}

.warning {
  color: #f0ad4e;
  background-color: #fefbed;
}

.status:before {
  width: 1.4em;
  display:inline-block;
  text-align: center;
}

.success:before {
  content: '✔';
}

.fail:before {
  content: '𝝬';
}

.warning:before {
  content: '!';
}

.image-container img {
  margin: 10px 0;
  width: 100%;
}
